# Excluir a pasta MateriaEngenhariaDeSoftware
MateriaEngenhariaDeSoftware/

# Excluir arquivos dentro da pasta 2026_TCC_RevisaoBibliografica
2026_TCC_RevisaoBibliografica/ORIENTAÇÃO PARA ELABORAÇÃO DO PROJETO FINAL.docx
2026_TCC_RevisaoBibliografica/TEMPLATE-DE-EDIÇÃO-TCC.pdf
Contrato Líbano - Anderson Ribeiro Martisn.pdf
