ACCEPT_EULA=Y
SQLSERVER_SA_PASSWORD=YourStrong!Passw0rd
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
SQLSERVER_JDBC_URL=jdbc:sqlserver://localhost:1433;databaseName=ArchSoftConstructor;encrypt=true;trustServerCertificate=true

RABBITMQ_DEFAULT_USER=archsoft
RABBITMQ_DEFAULT_PASS=archsoft

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
